@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family= Borel & display=swap');

@import url('https://fonts.googleapis.com/css2?family= Playfair +Display & display=swap');

:root {
    --fonte2: 'Playfair Display', Geneva, Tahoma, Sans-serif;
    --fonte1: 'Borel', cursive;
    --cor1: #5a2300;
    --cor2: #F15C00;
    --cor3: #F18A00;
    --cor4: #fcaa12;
}

/**/

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor3);
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor2), var(--cor1));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    font-family: var(--fonte2);
}

header>h1 {
    color: white;
    font-family: var(--fonte2);
    font-weight: bolder;
    margin-bottom: 20px;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.521);
}

nav {
    background-color: var(--cor1);
    text-decoration: none;
    text-align: right;
    padding: 10;
}

nav>a {
    color: var(--cor4);
    text-decoration: none;
    font-weight: bold;
    font-family: var(--fonte1);
    padding: 10;
}

nav>a:hover {
    font-family: var (--fonte0);
    color: var(--cor1);
    background-color: var(--cor3);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

main {
    min-width: 300px;
    max-width: 1000px;
    background-image: linear-gradient(to top, var(--cor3), var(--cor2), var(--cor1));
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.411);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main>article>h1{
    margin: 0px;
    font-family: var(--fonte1);
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px 3px rgba(0,0,0,0.521);    
}

main>article>p {
    font-family: var(--fonte1);
    text-align: center;
    color: white;
    text-shadow: 1px 2px 3px rgba(0,0,0,0.521);
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

footer {
    font-family: var(--fonte1);
    text-align: center;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin: auto;
    margin-bottom: 10px;
    padding: 30px;
    box-shadow: 0px 0px 10pxrgba(0, 0, 0, 0.555);
}

section {
    font-family: var(--fonte1);
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin:auto;
    margin-bottom: 30px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.411);
    border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

section h1 {
    color: var(--cor1);
    font-family: var(--fonte2);
    font-weight: normal;
    font-size: 1.3em;
}

table {
    border-collapse:collapse;
}

caption {
    font-size: 1.2em;
    font-weight:bolder;
    padding: 20px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: white;
}

div#container {
    overflow-x: auto;
}